
<% content_for :title, "Nouveau Enregistrement" %>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h3 class="text-center mb-4">Nouveau Enregistrement</h3>
  <%= render "form", passport: @passport %>
  <br>
  <div>
    <%= link_to "Retourne aux enregistrements", passports_path, class: "btn btn-sm btn-warning"%>
  </div>
</div>
