<% content_for :title, "New passport" %>

<h1>Nouveau enregistrement</h1>

<%= render "form", passport: @passport %>

<br>

<div>
  <%= link_to "Retourne aux enregistrements", passports_path, class: "btn btn-sm btn-warning"%>
</div>
